/* BASSIC */
body,span,a,i,p {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 16px;
}

body{
    overflow-x: hidden;
}
img{
    max-width: 100%;
}
ul,li{
    list-style: none;
}
p{
	color: #444;
}
a{
    text-decoration: none;
}
.bgf {
	background: #f6f6f6;
}
.pp100{
    padding: 100px 0;
}
/*     START    */ 

/* top-header */
.top-header {
    background-color: #05152f;
    padding-top: 15px;
    padding-bottom: 15px;
    }
    .top-header .top-left {
    padding-left: 0;
    text-align: left;
    margin-bottom: 0;
    }
    .top-header .top-left li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: 400;
    font-size: 15px;
    }
    .top-header .top-left li:last-child {
    margin-right: 0;
    }
    .top-header .top-left li a {
    color: #fff;
    }
    .top-header .top-left li i {
    font-size: 22px;
    color: #12a3ff;
    position: relative;
    top: 2px;
    line-height: 0;
    margin-right: 4px;
    }
    .top-header .top-right {
    padding-left: 0;
    text-align: right;
    margin-bottom: 0;
    }
    .top-header .top-right li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: 400;
    font-size: 15px;
    }
    .top-header .top-right li:last-child {
    margin-right: 0;
    }
    .top-header .top-right li a {
    color: #fff;
    }
    .top-header .top-right li i {
    font-size: 22px;
    color: #12a3ff;
    position: relative;
    top: 2px;
    line-height: 0;
    margin-right: 4px;
    }
    /* end-*/
    /* jafjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj nvnvnvnvnvnvnvnvvnvnvnvnvnvnvnvnvnvnnnnnnnnnnnnnnnnnnvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/









.main-responsive-nav {
    display: none;
    }
    .main-navbar {
    padding-top: 0;
    }
    .main-navbar .container-fluid {
    max-width: 1470px;
    }
    .main-navbar .navbar {
    -webkit-transition: .5s;
    transition: .5s;
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    }
    .main-navbar .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    }
    .main-navbar .navbar .navbar-brand h1 {
    color: #fff;
    margin-bottom: 0;
    }
    .main-navbar .navbar .navbar-brand img {
    max-width: 120px!important;
    }
    .main-navbar .navbar .navbar-nav {
    margin: auto;
    }
    .main-navbar .navbar .navbar-nav .nav-item {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    }
    .main-navbar .navbar .navbar-nav .nav-item a {
    color: #031521;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 18px;
    font-weight: 500;
    font-family: #2554ff;
    text-transform: capitalize;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    }
    .main-navbar .navbar .navbar-nav .nav-item a i {
    font-size: 18px;
    position: relative;
    top: 2px;
    display: inline-block;
    }
    .main-navbar .navbar .navbar-nav .nav-item a:hover, .main-navbar .navbar .navbar-nav .nav-item a:focus, .main-navbar .navbar .navbar-nav .nav-item a.active {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
    }
    .main-navbar .navbar .navbar-nav .nav-item:first-child {
    margin-left: 0;
    }
    .main-navbar .navbar .navbar-nav .nav-item:hover a, .main-navbar .navbar .navbar-nav .nav-item.active a {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
    border: none;
    top: 70px;
    left: 0;
    z-index: 99;
    opacity: 0;
    width: 250px;
    display: block;
    border-radius: 0;
    padding: 10px 0;
    margin-top: 15px;
    position: absolute;
    visibility: hidden;
    background: #fff;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li {
    margin: 0;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
    padding: 10px 20px;
    position: relative;
    display: block;
    color: #031521;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a i {
    margin: 0;
    position: absolute;
    top: 50%;
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #2554ff;
    letter-spacing: 1px;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: -250px;
    margin-top: 15px;
    visibility: hidden;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #031521;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: 250px;
    visibility: hidden;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #031521;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: -250px;
    visibility: hidden;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #031521;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: 250px;
    visibility: hidden;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #031521;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: -250px;
    visibility: hidden;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #031521;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: 250px;
    visibility: hidden;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #031521;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: #2554ff;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    }
    .main-navbar .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    }
    .main-navbar .navbar .others-options .option-item .search-btn {
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
    color: #031521;
    font-size: 22px;
    font-weight: 700;
    }
    .main-navbar .navbar .others-options .option-item .close-btn {
    cursor: pointer;
    display: none;
    -webkit-transition: .5s;
    transition: .5s;
    color: #031521;
    font-size: 22px;
    font-weight: 700;
    }
    .main-navbar .navbar .others-options .option-item .close-btn.active {
    display: block;
    }
    .main-navbar .navbar .others-options .option-item .burger-menu {
    width: 35px;
    height: auto;
    background-color: transparent;
    margin-right: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 1px;
    }
    .main-navbar .navbar .others-options .option-item .burger-menu span {
    display: block;
    width: 40px;
    height: 3px;
    background: #031521;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 30px;
    margin-left: auto;
    margin-bottom: 5px;
    }
    .main-navbar .navbar .others-options .option-item .burger-menu span:nth-child(3) {
    margin-bottom: 0;
    width: 40px;
    margin-left: auto;
    }
    .main-navbar .navbar .others-options .option-item .burger-menu:hover span {
    background: #2554ff;
    }
    .main-navbar .navbar .others-options .option-item .burger-menu:hover span:nth-child(3) {
    width: 40px;
    }
    
    .navbar-area.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
    background-color: #fff!important;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    }
    .search-overlay {
    display: none;
    }
    .search-overlay.search-popup {
    position: absolute;
    top: 100%;
    width: 300px;
    background: #fff;
    z-index: 2;
    right: 0;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    margin-top: 0;
    }
    .search-overlay.search-popup .search-form {
    position: relative;
    }
    .search-overlay.search-popup .search-form .search-input {
    display: block;
    width: 100%;
    height: 50px;
    line-height: initial;
    border: 1px solid #eee;
    color: #031521;
    outline: 0;
    -webkit-transition: .5s;
    transition: .5s;
    padding-top: 4px;
    padding-left: 10px;
    }
    .search-overlay.search-popup .search-form .search-input:focus {
    border-color: #2554ff;
    }
    .search-overlay.search-popup .search-form .search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    background: 0 0;
    border: none;
    width: 50px;
    outline: 0;
    color: #6b6b84;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 0;
    }
    .search-overlay.search-popup .search-form .search-button:hover, .search-overlay.search-popup .search-form .search-button:focus {
    color: #2554ff;
    }
    .search-overlay.search-popup .search-form .search-button i {
    font-size: 18px;
    font-weight: 700;
    }



    /* end-navbar*/




/* sliderSection */
.custom-css {
	height: 100vh !important;
	background-position: bottom center !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: scroll;


}
.sliderSection:hover .custom-control-next::after {
	right: -30px;
visibility: visible;
transition: .5s;
}
.sliderSection:hover .custom-control-prev::before {
	left: -30px;
visibility: visible;
transition: .5s;

}


/* .custom-control-prev {
	color: transparent;
	background: transparent;
	border: none;
} */

.custom-control-next {
	color: transparent;
	background: transparent;
	border: none;
}




.custom-control-prev::before {
	content: '\f359';
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	color: rgb(255, 255, 255);
	font-size: 29px;
	width: 50px;
	height: 50px;
	background: #3f3fff;
	line-height: 50px;
	border-radius: 50%;
	position: relative;

	visibility: hidden;
	left: 0;

}

.custom-control-next::after {
	content: '\f35a';
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	color: rgb(255, 255, 255);
	font-size: 29px;
	width: 50px;
	height: 50px;
	background: #3f3fff;
	line-height: 50px;
	border-radius: 50%;
	position: relative;

	visibility: hidden;
	right: 0;

}


.carousel-item-custom{
	background: url(./img/ia_100000073.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;

}
.carousel-item-custom2{
	background: url(./img/ia_100000072.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;

}
.carousel-item-custom3{
	background: url(./img/ia_100000074.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;

}
.slidercst{
  width: 550px;
  margin: auto;
 padding-top: 200px;
 text-align: center;
}
.slidercst h1 {
	color: #fff;
	font-size: 43px;

}
.slidercst p {
	color: #fff;
	font-size: 18;
    padding: 15px 0;

}
.sliderSection{
    position: relative;
  z-index: 5;


} 
.carousel-item-custom{
    position: relative;
    z-index: 5;
}
.carousel-item-custom2{
    position: relative;
    z-index: 5;
}
.carousel-item-custom3{
    position: relative;
    z-index: 5;
}
.carousel-item-custom::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 6, 6, 0.7);
    z-index: -1;
}
.carousel-item-custom2::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 6, 6, 0.7);
    z-index: -1;
}
.carousel-item-custom3::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 6, 6, 0.7);
    z-index: -1;
}

/* end */
.inter-fri {
	height: 91px;
	width: 100%;
	position: relative;
	top: -63px;
	z-index: 5;
}
.inter-fri img {
	width: 100%;
	height: 100%;
}

/* prizing-section */
.top-services-area {
    position: relative;
    z-index: 5;
    margin-top: -200px;
  
    }
    .top-services-item {
    background-color: #f6f2fe;
    padding: 35px 20px;
    margin-bottom: 30px;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
    }
    .top-services-item .icon {
    margin-bottom: 20px;
    position: relative;
    }
    .top-services-item .icon::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: #0fe7f9;
    right: 0;
    left: 50px;
    top: 2px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    }
    .top-services-item .icon i {
    display: inline-block;
    height: 85px;
    width: 85px;
    line-height: 85px;
    text-align: center;
    font-size: 40px;
    color: #0fe7f9;
    background-color: #fff;
    border-radius: 50px;
    border: 1px dashed #0fe7f9;
    }
    .top-services-item h3 {
    font-size: 22px;
    margin-bottom: 12px;
    }
    .top-services-item p {
    font-size: 15px;
    }
    .top-services-item:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    }
    .top-services-item.top1 {
    margin-top: 35px;
    }
    .top-services-item.top2 {
    margin-top: 35px;
    }
    
    /*    end    */

















































/* about-section */
.about-section{
   
}

.about-i {
	border: 8px solid #0FE7F9;
	border-left: none;
	height: 555px;
    position: relative;
}
.about-i img{
    width: 100%;
    height: 100%;
}
.about2 {
	height: 300px;
	width: 250px;
	position: absolute;
	bottom: -25px;
	right: -25px;

}

.about2 img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.about-r {
	padding: 10px;
	padding-left: 25px;
}
.all-section h2 {
	font-size: 2.2rem;
	font-weight: 600;
	margin: 15px 0;
}
.all-section h5 {
	color: #0066d2;
}

.about-r ul{
    margin: 0;
    padding: 0;
}
.about-r ul li {
	color: #00142d;
	height: 40px;
	font-size: 1.2rem;
	font-weight: 500;
}
.about-r ul li span {
	font-size: 21px;
	margin-right: 10px;
}
.about-r ul li i {
	font-size: 22px;
}
/* hover */
.about-r ul li:hover {
	color: #01316d;
}
.btn-primaryi {
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
	margin: 10px 0;
	border-radius: 5px;
	background: #3a74ff;
	color: #fff;
	font-size: 17px;
	position: relative;
    z-index: 1;
}
.btn-primaryi:hover{
    color: #fff;

}
.btn-primaryi::after {
	content: "";
	top: 0;
	right: 0;
	width: 0%;
	height: 100%;
	background: rgb(7, 0, 114);
	position: absolute;
	border-radius: 5px;
	z-index: -1;
    transition: .5s;
}
.btn-primaryi:hover::after{
    width: 100%;
    color: #fff;
}
.col-xl-2.uuu {
	height: 555px;
	padding: 0;
}
.col-xl-2.uuu img{
width: 100%;
height: 100%;
}




/*searvice-section  */
.searvice-section{
    background: #EFE9FB;
    position: relative;
}
.searvice-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(./img/ia_100000020.png) no-repeat right right;
    background-size: cover;
    height: 100%;
    z-index: 222;
}


.services {
    border-radius: 2px;
    margin-bottom: 30px;
    position: relative;
    padding: 30px 30px 30px 100px;
    border: 1px solid #fafafa;
    background-color: #fafafa;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 1;
}
.services .icon {
    position: absolute;
    left: 20px;
    top: 32px;
    -webkit-transition: .5s;
    transition: .5s;
}
.services .icon i {
    display: inline-block;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #efe9fb;
    color: #2554ff;
    font-size: 35px;
    border-radius: 50px;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: 500;
}
.services h3 {
    font-size: 22px;
    margin-bottom: 14px;
    -webkit-transition: .5s;
    transition: .5s;
}
.services h3 a {
    color: #031521;
}
.services p {
    margin-bottom: 15px;
    -webkit-transition: .5s;
    transition: .5s;
}
.services .read-more-btn {
    font-weight: 500;
    color: #031521;
    -webkit-transition: .5s;
    transition: .5s;
}
.services::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background: #2554ff;
    border-radius: 0;
    -webkit-transition: .5s;
    transition: .5s;
}
.services:hover {
    border: 1px solid #2554ff;
}
.services:hover::before {
    width: 100%}
.services:hover .icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.services:hover h3 a {
    color: #fff;
}
.services:hover p {
    color: #fff;
}
.services:hover .read-more-btn {
    color: #fff;
}
.services-item {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 30px;
}
.services-item .icon {
    margin-bottom: 20px;
}
.services-item .icon i {
    display: inline-block;
    height: 75px;
    width: 75px;
    line-height: 75px;
    background-color: #efe9fb;
    color: #2554ff;
    font-size: 35px;
    border-radius: 50px;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: 500;
}
.services-item h3 {
    font-size: 24px;
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 15px;
}
.services-item p {
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 0;
}
.services-item .read-more-btn {
    display: inline-block;
    color: #2554ff;
    font-weight: 500;
    -webkit-transition: .5s;
    transition: .5s;
    margin-top: 12px;
}
.services-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background-color: #2554ff;
    z-index: -1;
    -webkit-transition: .5s;
    transition: .5s;
}
.services-item:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.services-item:hover::before {
    height: 100%}
.services-item:hover h3 a {
    color: #fff;
}
.services-item:hover p {
    color: #fff;
}
.services-item:hover .icon i {
    background-color: #fff;
}
.services-item:hover .read-more-btn {
    color: #fff;
}

/* project-section-end */

.icon-p i {
	color: #fff;
	font-size: 24px;
}
.iip{
    position: relative;
}
.icon-p {
	position: absolute;
	height: 35px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	background: #0FE7F9;
	border-radius: 10px;
	bottom: -16px;
	right: 15%;
    transition: .4s;
    z-index: 2;
}
.icon-p:hover{
background: #fff;

}
.icon-p:hover i{
    color: #0FE7F9;

}
.iipc::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
background: #0066D2;;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;

}
.iipc:hover::after{
    width: 100%;
}

.iipc {
	padding: 15px;
    position: relative;
    z-index: 1;
}
.iipc h3 {
	font-weight: 600;
	padding-top: 15px;
    color: #000;
    transition: .3s;
}
.iipc:hover h3 {
    color: #fff !important;
}
.iipc h4 {
	color: #0066D2;
    transition: .3s;
}
.iipc:hover h4 {
	color: #ffffff;
}

/* choose-section */
.choose-area {
    background-image: url(./img/ia_100000075.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.choose-area.bg-ffffff {
    background-color: #f9fbfc;
    background-image: unset;
}

.choose-content span {
    color: #0066D2;
}
.choose-content h3 {
    font-size: 35px;
    margin-top: 12px;
    margin-bottom: 16px;
}
.choose-content strong {
    font-size: 18px;
    font-weight: 500;
}
.choose-content .choose-text {
    position: relative;
    padding-left: 55px;
    margin-top: 20px;
}
.choose-content .choose-text .icon {
    position: absolute;
    left: 0;
    top: 0;
}
.choose-content .choose-text .icon i {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #0fe7f9;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    color: #0fe7f9;
    -webkit-transition: .5s;
    transition: .5s;
}
.choose-content .choose-text h4 {
    font-size: 22px;
    margin-bottom: 12px;
}
.choose-content .choose-text p {
    margin-bottom: 0;
}
.choose-content .choose-text:hover .icon i {
    border: 1px solid #0066D2;
    color: #fff;
    background-color: #0066D2;
}




/* team-section */
.team {
    margin-bottom: 30px;
    text-align: center;
}
.team .image {
    position: relative;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}
.team .image img {
    border-radius: 50%;
    border: 5px solid #0FE7F9;
}
.team .image .team-icon {
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.team .image .team-icon li {
    display: inline-block;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
    margin-left: 1px;
    margin-right: 1px;
}
.team .image .team-icon li a {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #0FE7F9;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #fff;
    border-radius: 30px;
    -webkit-transition: .5s;
    transition: .5s;
}
.team .image .team-icon li a i {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}
.team .image .team-icon li a:hover {
    color: #fff;
    background-color: #0066D2;
}
.team .image .team-icon li:nth-child(1) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.team .image .team-icon li:nth-child(2) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.team .image .team-icon li:nth-child(3) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.team .image .team-icon li:nth-child(4) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.team .content {
    margin-top: 20px;
}
.team .content h3 {
    font-size: 24px;
    margin-bottom: 8px;
}
.team .content span {
    font-size: 16px;
    color: #0066D2;
    font-weight: 500;
}
.team:hover .image .team-icon li {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.team-box {
    margin-bottom: 30px;
    text-align: center;
}
.team-box .image {
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
}
.team-box .image .team-icon {
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.team-box .image .team-icon li {
    display: inline-block;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
    margin-left: 1px;
    margin-right: 1px;
}
.team-box .image .team-icon li a {
    display: block;
    width: 33px;
    height: 33px;
    background-color: #0FE7F9;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #fff;
    border-radius: 2px;
    -webkit-transition: .5s;
    transition: .5s;
}
.team-box .image .team-icon li a i {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}
.team-box .image .team-icon li a:hover {
    color: #fff;
    background-color:#0066D2;
}
.team-box .image .social li:nth-child(1) {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}
.team-box .image .team-icon li:nth-child(2) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.team-box .image .team-icon li:nth-child(3) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.team-box .image .team-icon li:nth-child(4) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.team-box .content {
    margin-top: 20px;
}
.team-box .content h3 {
    margin-bottom: 0;
    font-size: 22px;
}
.team-box .content span {
    display: block;
    color: #0066D2;
    font-size: 14px;
    margin-top: 10px;
}
.team-box:hover .image .team-icon li {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
/* end team */

/* uiioig */


/* start-form-section   pfjdiohjuig5iuwun8ou0x098687ty 8efguhewfgeiutruy1h43bkjivyfokcngooiyh n.,myj8n sea*/
.appointment-area {
    position: relative;
    z-index: 1;
    background-image: url(./img/ia_100000076.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.appointment-area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
    opacity: .7;
    z-index: -1;
}
.appointment-area.bg-ffffff {
    background-image: unset;
}
.appointment-area.bg-ffffff::before {
    display: none;
}
.appointment-form {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
    padding: 50px 40px;
    position: relative;
}
.appointment-form .content {
    text-align: center;
    margin-bottom: 50px;
}
.appointment-form .content h3 {
    font-size: 28px;
    margin-bottom: 0;
}
.appointment-form .form-group {
    position: relative;
    margin-bottom: 15px;
}
.appointment-form .form-group .form-control {
    padding: 15px 20px;
    border: 1px dashed #f6f6f6;
    color: #5d5d5d;
    border-radius: 10px;
    background-color: #f6f6f6;
    font-size: 14px;
    font-weight: 400;
}
.appointment-form .form-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.appointment-form .form-group i {
    position: absolute;
    top: 17px;
    right: 20px;
    line-height: 1;
    font-size: 18px;
    color: #04b8e5;
}
.appointment-form .nice-select {
    height: 50px;
    width: 100%;
    line-height: 48px;
    font-size: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    border: 1px dashed #f6f6f6;
    color: #5d5d5d;
    border-radius: 10px;
    background-color: #f6f6f6;
}
.appointment-form .nice-select .list {
    background-color: #fff;
    -webkit-box-shadow: 0 0 29px 0 rgba(102, 102, 102, .1);
    box-shadow: 0 0 29px 0 rgba(102, 102, 102, .1);
    border-radius: 0;
    margin-top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.appointment-form .nice-select .list .option {
    -webkit-transition: .6s;
    transition: .6s;
    color: #031521;
    padding-left: 20px;
    padding-right: 20px;
}
.appointment-form .nice-select .list .option:hover {
    background-color: #2554ff!important;
    color: #fff;
}
.appointment-form .nice-select .list .option.selected {
    background-color: transparent;
    font-weight: 600;
}
.appointment-form .nice-select::after {
    height: 8px;
    width: 8px;
    border-color: #04b8e5;
    right: 23px;
}
.appointment-form .appointment-btn {
    text-align: center;
}
.table-condensed {
    border-collapse: collapse;
    width: 250px;
    text-align: center;
}
.table-condensed .prev {
    background-color: #2554ff;
    -webkit-transition: .5s;
    transition: .5s;
    color: #fff;
    cursor: pointer;
}
.table-condensed .prev:hover {
    background-color: #031521;
    color: #fff;
}
.table-condensed .next {
    background-color: #2554ff;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
    color: #fff;
}
.table-condensed .next:hover {
    background-color: #031521;
    color: #fff;
}
.table-condensed .day {
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 0;
    font-size: 14px;
}
.table-condensed .day:hover {
    background-color: #2554ff;
    color: #fff;
}
.appointment-content h3 {
    font-size: 38px;
    margin-bottom: 16px;
    color: #fff;
    line-height: 1.4;
}
.appointment-content p {
    margin-bottom: 0;
    color: #fff;
}






.skill-bar {
    margin-top: 30px;
    font-family: roboto, sans-serif;
}
.skill-bar .progress-title-holder {
    position: relative;
    margin-bottom: 10px;
}
.skill-bar .progress-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.skill-bar .progress-number-wrapper {
    width: 100%;
    z-index: 10;
    font-size: 11px;
    line-height: 24px;
    height: 24px;
    letter-spacing: 0;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    color: #fff;
}
.skill-bar .progress-number-mark {
    position: absolute;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.skill-bar .down-arrow {
    display: none;
}
.skill-bar .progress-content-outter {
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
}
.skill-bar .progress-content {
    height: 8px;
    background-color: #2554ff;
    border-radius: 4px;
    width: 0%}
.skill-bar-wrapper {
    margin-left: 30px;
    max-width: 510px;
}
.skill-bar-wrapper .section-title-left {
    margin-bottom: 50px;
}
.appointment-form-others {
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .1), 0 10px 10px rgba(0, 0, 0, .02);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .1), 0 10px 10px rgba(0, 0, 0, .02);
    padding: 40px;
}
.appointment-form-others form .form-group {
    margin-bottom: 15px;
}
.appointment-form-others form .form-control {
    padding: 15px 20px;
    border: 1px dashed #f6f6f6;
    color: #5d5d5d;
    border-radius: 10px;
    background-color: #f6f6f6;
    font-size: 14px;
    font-weight: 400;
}
.appointment-form-others form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.appointment-form-others form button {
    display: block;
    width: 100%;
    margin-top: 20px;
    color: #fff;
    background-color: #2554ff;
    padding: 14px 25px;
    border: 1px solid #2554ff;
    -webkit-transition: .5s;
    transition: .5s;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.appointment-form-others form button:hover {
    border-color: #2554ff;
    color: #2554ff;
    background-color: transparent;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .1), 0 10px 10px rgba(0, 0, 0, .02);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .1), 0 10px 10px rgba(0, 0, 0, .02);
}
.appointment-inner .appointment-content h3 {
    font-size: 38px;
    margin-bottom: 16px;
    line-height: 1.4;
    color: #031521;
}
.appointment-inner .appointment-content p {
    margin-bottom: 0;
    color: #6b6b84;
}
.appointment-inner .skill-bar {
    margin-top: 30px;
    font-family: roboto, sans-serif;
}
.appointment-inner .skill-bar .progress-title-holder {
    position: relative;
    margin-bottom: 10px;
}
.appointment-inner .skill-bar .progress-title {
    font-size: 18px;
    font-weight: 500;
    color: #031521;
}
.appointment-inner .skill-bar .progress-number-wrapper {
    width: 100%;
    z-index: 10;
    font-size: 11px;
    line-height: 24px;
    height: 24px;
    letter-spacing: 0;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    color: #031521;
}
.appointment-inner .skill-bar .progress-number-mark {
    position: absolute;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 18px;
    color: #031521;
    font-weight: 500;
}
.appointment-inner .skill-bar .down-arrow {
    display: none;
}
.appointment-inner .skill-bar .progress-content-outter {
    height: 8px;
    background-color: #f3f3f3;
    border-radius: 4px;
}
.appointment-inner .skill-bar .progress-content {
    height: 8px;
    background-color: #2554ff;
    border-radius: 4px;
    width: 0%}
.appointment-inner .skill-bar-wrapper {
    margin-left: 30px;
    max-width: 510px;
}
.input-group.mb-3 {
	outline: 0 !important;
	border: none !important;
	padding: 10px;
	padding: 9px 20px;
	border: 1px dashed #f6f6f6;
	color: #5d5d5d;
	border-radius: 10px;
	background-color: #f6f6f6;
	font-size: 14px;
	font-weight: 400;
}
.input-group-text {
	border: none;
	background-color: #f6f6f6;
}
.appointment-inner .skill-bar-wrapper .section-title-left {
    margin-bottom: 50px;
}

.mm3{
    display: none;
}

/* mark-section*/
.row.colormark {
	background: #0FE7F9;
	padding: 50px 0;
    border-radius: 30px;
}
.inner h3 {
	font-size: 45px;
	color: #fff;
	font-weight: 600;
}
.inner p {
	font-size: 19px;
	color: #111;
}


/* Testimonial-section */
.Testimonial-section{
    background: url(./img/ia_100000077.jpg) center center no-repeat;
    background-size: cover;
    height: 100nh;
}
.testimonial {
	height: 45vh;
	width: 80%;
	background: #fff;
	text-align: center;
	padding: 0 25px;
	margin: auto;
}
.testi-img {
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	margin: auto;
	position: relative;
	top: -27px;
}
.testi-img img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}


/* news section */

.news-item {
    margin-bottom: 30px;
    -webkit-transition: .5s;
    transition: .5s;
}
.news-item .image {
    position: relative;
}
.news-item .image .date {
    position: absolute;
    top: 0;
    left: 0;
}
.news-item .image .date span {
    display: inline-block;
    padding: 10px 25px;
    background-color: #fff;
    color: #2554ff;
    font-weight: 400;
    -webkit-transition: .5s;
    transition: .5s;
}
.news-item .content {
    padding: 25px 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
}
.news-item .content h3 {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 14px;
}
.news-item .content h3 a {
    color: #031521;
}
.news-item .content .blog-btn {
    font-weight: 600;
    color: #2554ff;
}
.news-item:hover .image .date span {
    background-color: #2554ff;
    color: #fff;
}
/* end */
/* style */
.style {
	text-align: center;
}
/*  */
/* footer-section */
.footer-section {
    background-image: url(../../assets/img/footer-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}
.single-footer-widget {
    margin-bottom: 30px;
}
.single-footer-widget .logo {
    margin-bottom: 25px;
}
.single-footer-widget p {
    color: #031521;
    margin-bottom: 0;
}
.single-footer-widget .social {
    padding-left: 0;
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 0;
}
.single-footer-widget .social li {
    display: inline-block;
    margin-right: 10px;
}
.single-footer-widget .social li:last-child {
    margin-right: 0;
}
.single-footer-widget .social li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color: #2554ff;
    color: #fff;
    border: 1px solid #2554ff;
    text-align: center;
    font-size: 18px;
}
.single-footer-widget .social li a:hover, .single-footer-widget .social li a:focus {
    color: #2554ff;
    background-color: transparent;
}
.single-footer-widget .social li a.facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}
.single-footer-widget .social li a.facebook:hover, .single-footer-widget .social li a.facebook:focus {
    color: #3b5998;
    background-color: transparent;
}
.single-footer-widget .social li a.twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
}
.single-footer-widget .social li a.twitter:hover, .single-footer-widget .social li a.twitter:focus {
    color: #1da1f2;
    background-color: transparent;
}
.single-footer-widget .social li a.linkedin {
    background-color: #007bb5;
    border-color: #007bb5;
    color: #fff;
}
.single-footer-widget .social li a.linkedin:hover, .single-footer-widget .social li a.linkedin:focus {
    color: #007bb5;
    background-color: transparent;
}
.single-footer-widget .social li a.pinterest {
    background-color: #c13584;
    border-color: #c13584;
    color: #fff;
}
.single-footer-widget .social li a.pinterest:hover, .single-footer-widget .social li a.pinterest:focus {
    color: #c13584;
    background-color: transparent;
}
.single-footer-widget h3 {
    font-size: 22px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.single-footer-widget h3::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: #031521;
}
.single-footer-widget .quick-links {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.single-footer-widget .quick-links li {
    margin-bottom: 12px;
    color: #031521;
    font-size: 17px;
    font-weight: 500;
}
.single-footer-widget .quick-links li a {
    display: inline-block;
    color: #031521;
    font-weight: 500;
    position: relative;
}
.single-footer-widget .quick-links li a:hover {
    color: #2554ff;
}
.single-footer-widget .quick-links li a:hover::before {
    width: 100%}
.single-footer-widget .quick-links li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #2554ff;
}
.single-footer-widget .quick-links li i {
    color: #031521;
}
.single-footer-widget .quick-links li:last-child {
    margin-bottom: 0;
}
.single-footer-widget .footer-contact-info {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.single-footer-widget .footer-contact-info li {
    margin-bottom: 20px;
    color: #031521;
    position: relative;
    padding-left: 35px;
}
.single-footer-widget .footer-contact-info li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 25px;
    color: #031521;
}
.single-footer-widget .footer-contact-info li span {
	display: block;
	font-weight: 600;
	margin-bottom: 5px;
	font-size: 19px;
}
.single-footer-widget .footer-contact-info li a {
    display: inline-block;
    color: #031521;
    font-weight: 400;
    position: relative;
    font-size: 15px;
}
.single-footer-widget .footer-contact-info li a:hover {
    color: #2554ff;
}
.single-footer-widget .footer-contact-info li a:hover::before {
    width: 100%}
.single-footer-widget .footer-contact-info li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #2554ff;
}
.single-footer-widget .footer-contact-info li:last-child {
    margin-bottom: 0;
}
.pp50{
    padding: 50px 0;
}
/* copy*/
.footer-btn{
    background: #012B6B;
   
}
.copy p {
	color: #fff;
	margin: 0;
}
/*  */
.carousel-control-next, .carousel-control-prev {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	color: #fff;
	text-align: center;
	/* opacity: .5; */
	transition: opacity .15s ease;
	z-index: 5 !important;
}
.content {
	height: 186px;
}
.single-footer-widget .quick-links li i {
	color: #031521;
	font-size: 12px;
	display: inline-block;
	padding-right: 8px;
}